html,
body {
  margin: 0px;
  padding: 0px;
}

#hilite-progress-bar-budget-container {
  width: 80%;
  margin: 0 auto;
}

#hilite-progress-bar-budget {
  width: 100%;
  background-color: #ccc;
  position: relative;
}

#hilite-progress-bar-budget div.progress-bar {
  height: 3px;
  background-color: green;
}

#hilite-progress-bar-budget-marker img {
  position: absolute;
  cursor: pointer;
  top: 3px;
  transform: translateY(-100%);
  left: -10px;
  z-index: 99;
}

.hilite-progress-bar-budget-marker-green-circle {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
}

.hilite-progress-bar-budget-marker-green-circle.left-circle {
  left: -10px;
  top: 3px;
  transform: translateY(-100%);
}

.hilite-progress-bar-budget-marker-green-circle.right-circle {
  right: -10px;
  top: 3px;
  transform: translateY(-100%);
}

.hilite-progress-bar-budget-badge {
  background-color: green;
  border-radius: 5px;
  padding: 5px 15px;
  direction: rtl;
  text-align: center;
}

.hilite-progress-bar-budget-badge-text {
  padding: 10px 0px;
  text-align: center;
}

#hilite-progress-bar-budget-origin-number {
  position: absolute;
  top: 0px;
  left: -50px;
}

#hilite-progress-bar-budget-end-number {
  position: absolute;
  top: 0px;
  right: -50px;
}

#hilite-progress-bar-number {
  display: flex;
  justify-content: space-around;
}

/*  Small devices , Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  #hilite-progress-bar-budget-origin-number {
    left: 0px;
  }

  #hilite-progress-bar-budget-end-number {
    right: 0px;
  }

  #hilite-progress-bar-number {
    display: flex;
    flex-direction: column;
  }
}
